html {
  height: 100%;
}
body {
  height: 100%;
  background-image: linear-gradient(#6d89d2,#915e96);
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

#searchBox{

}

#myFooter {
  color:white;
  bottom:0;
  width:100%;
  position:absolute;
  text-align:center;
  i {
    margin-left:1em;
    margin-right:1em;
  }
}
